@{
  Layout = "_Layout";
}

<body>
  <div class="background text-center">
    <h1 class="display-4 text-center welcome">Welcome</h1>
    <h3 class ="muted"> Click the links above to add stylists and clients.</h3>
  </div>
</body>